@model DIENMAYQUYETTIEN.Models.CashBill

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_ADMINLAYOUT.cshtml";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Cash Bill</h4>
        <hr />
        <div class="table-responsive">
            <table table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Bill Code</th>
                        <th>Customer name</th>
                        <th>Phone number</th>
                        <th>Address</th>
                        <th>Date</th>
                        <th>Shipper</th>
                        <th>Note</th>
                        <th>Grand Total</th>
                        <th>Product Name</th>
                        <th>Product Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var details in Model.CashBillDetails)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.BillCode)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Shipper)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.GrandTotal)
                            </td>
                            <td>
                                @details.Product.ProductName
                            </td>
                            <td>
                                @details.Quantity
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

