@model DIENMAYQUYETTIEN.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_ADMINLAYOUT.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h3 style="padding-left:400px">Create product</h3>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ProductCode, "Product Code", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.ProductCode)
                    @Html.ValidationMessageFor(model => model.ProductCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductName, "Product Name", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.ProductName)
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProductTypeID, "Product Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.DropDownList("ProductTypeID", new SelectList(ViewBag.Prod, "ID", "ProductTypeName"))
                    @Html.ValidationMessageFor(model => model.ProductTypeID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SalePrice, "Sale Price", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.SalePrice)
                    @Html.ValidationMessageFor(model => model.SalePrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginPrice, "Origin Price", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.OriginPrice)
                    @Html.ValidationMessageFor(model => model.OriginPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InstallmentPrice, "Installment Price", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.InstallmentPrice)
                    @Html.ValidationMessageFor(model => model.InstallmentPrice)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, "Quantity", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Picture", "Product Picture", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Picture", null, new { type = "file", accept = "image/gif, image/jpeg, image/png", onchange = "readURL(this);", @class = "form-control" })
                    @Html.ValidationMessage("Picture")
                    <img id="ProductPicture" src="" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, "Status", new { @class = "control-label col-md-2" })
                <div class="col-md-10" style="display:inline-block; width:100px">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#Loai_id').select2();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#HinhSP')
                    .attr('src', e.target.result);
                    //.width(150)
                    //.height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
}

