@model DIENMAYQUYETTIEN.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_ADMINLAYOUT.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCode)
                @Html.ValidationMessageFor(model => model.ProductCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group" style="position:relative; left:25%">
            @Html.LabelFor(model => model.ProductTypeID, "Product Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="display:inline-block; width:100px">
                @Html.DropDownListFor(model => model.ProductTypeID, ViewBag.Prod_ID as SelectList)
                @Html.ValidationMessageFor(model => model.ProductTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalePrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalePrice)
                @Html.ValidationMessageFor(model => model.SalePrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OriginPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OriginPrice)
                @Html.ValidationMessageFor(model => model.OriginPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InstallmentPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstallmentPrice)
                @Html.ValidationMessageFor(model => model.InstallmentPrice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantity)
                @Html.ValidationMessageFor(model => model.Quantity)
            </div>
        </div>

        @*<div class="form-group">
                @Html.Label("Picture", "Product Picture", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("Picture", null, new { type = "file", accept = "image/gif, image/jpeg, image/png", onchange = "readURL(this);", @class = "form-control" })
                    @Html.ValidationMessage("Picture")
                    <img id="ProductPicture" src="" />
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Back to list" class="btn btn-danger">
            </div>
        </div>
    </div>
    
</div>
}
<link href="~/Content/form.css" rel="stylesheet" />

