@model IEnumerable<DIENMAYQUYETTIEN.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ADMINLAYOUT.cshtml";
}
<div class="container">
    <h2>Products</h2>

    <p>
        @Html.ActionLink("Add product", "Create")
    </p>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Product Management
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Sale Price</th>
                            <th>Origin Price</th>
                            <th>Installment Price</th>
                            <th>Quantity</th>
                            <th>Avatar</th>
                            @*<th>Status</th>*@
                            <th>Product Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalePrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OriginPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstallmentPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    <img src="~/Image/@Html.DisplayFor(modelItem => item.Avatar)" alt="Alternate Text" width="100px" height="100px" />
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductType.ProductTypeCode)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
  


